@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.container img{
width: 100%;
}

.article-card{
    border-radius: 20px;
}
.article-img{
   border-radius:20px;
}
.text{
    background-color:rgb(255, 255, 255);
}
.tagbtn{
    margin-top: 26px ;
    text-transform: capitalize ;

}
.post-font{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}